{erl_opts, [
    debug_info,
    warnings_as_errors,
    {feature, maybe_expr, enable}
]}.

{deps, [
    {conf, {git, "git@github.com:nomasystems/conf.git", {branch, "noma/main"}}},
    {nhttp_erf,
        {git, "git@github.com:nomasystems/nhttp_erf.git", {branch, "feat/erf_with_versioning"}}},
    {nhttp, "1.0.4"},
    {nhttp_lib, "1.0.5"},
    {nquic, "1.0.3"},
    {nhttpc, {git, "git@github.com:nomasystems/nhttpc.git", {branch, "main"}}},
    {ntask, {git, "git@github.com:nomasystems/ntask.git", {branch, "feat/adds-ets-store"}}}
]}.

{project_plugins, [
    erlfmt,
    rebar3_hank
]}.

{dialyzer, [
    {warnings, [
        unmatched_returns,
        error_handling,
        missing_return
    ]},
    {plt_apps, all_deps}
]}.

{hank, [
    {ignore, [
        {"apps/botesito/src/botesito_callback.erl", [unnecessary_function_arguments]}
    ]}
]}.

{erlfmt, [
    write,
    {files, [
        "apps/*/{src,include,test}/**/*.{erl,hrl,app.src}",
        "rebar.config"
    ]}
]}.

{shell, [
    {config, "config/sys.config"},
    {apps, [
        config,
        ntask,
        telegram,
        botesito
    ]}
]}.

{relx, [
    {release, {botesito, "0.2.0"}, [
        sasl,
        config,
        ntask,
        telegram,
        botesito
    ]},
    {sys_config, "config/sys.config"},
    {dev_mode, true},
    {include_erts, false},
    {extended_start_script, true}
]}.

{profiles, [
    {plt, [
        {deps, [
            {nmongo, {git, "git@github.com:nomasystems/nmongo.git", {branch, "develop"}}}
        ]}
    ]},
    {prod, [
        {relx, [
            {dev_mode, false},
            {include_erts, true},
            {sys_config, "config/prod/sys.config"}
        ]}
    ]},
    {local, [
        {shell, [
            {config, "config/local/sys.config"}
        ]}
    ]}
]}.

{xref_checks, [
    undefined_function_calls,
    undefined_functions,
    locals_not_used,
    deprecated_function_calls,
    deprecated_functions
]}.

{alias, [
    {check, [compile, fmt, xref, dialyzer, hank]},
    {test, [eunit]}
]}.
