[
    {ntask, [
        {store, ntask_store_ets},
        {poll_interval_ms, 1000},
        {bucket_granularity_ms, 1000},
        {backlog_threshold_ms, 2000},
        {retention_seconds, 120}
    ]},
    {conf, [
        {file, "config/dev/botesito.config.yml"}
    ]},
    {kernel, [
        {logger_level, info},
        {logger, [
            {handler, default, logger_std_h, #{
                formatter => {logger_formatter, #{
                    single_line => true,
                    template => [time, " [", level, "] ", msg, "\n"]
                }}
            }}
        ]}
    ]}
].
